@font-face {
  font-family: "neue_montrealbold";
  src: url("./public/Fonts/neuemontreal-bold-webfont.woff2") format("woff2"), url("./public/Fonts/neuemontreal-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue_montreallight";
  src: url("./public/Fonts/neuemontreal-light-webfont.woff2") format("woff2"), url("./public/Fonts/neuemontreal-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue_montrealmedium";
  src: url("./public/Fonts/neuemontreal-medium-webfont.woff2") format("woff2"), url("./public/Fonts/neuemontreal-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue_montrealregular";
  src: url("./public/Fonts/neuemontreal-regular-webfont.woff2") format("woff2"), url("./public/Fonts/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background: #232323;
  height: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #f7f3f2;
}

a {
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.banner .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 6.4rem;
  padding-inline: 6.4rem;
}
.banner .text .greet {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  width: 75%;
  margin-inline: auto;
}
.banner .text .greet span {
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
  font-style: italic;
  color: #4353ff;
}
.banner .text .text-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
}
.banner .text .text-content .para-content {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  width: 25%;
}
.banner .text .text-content .para-content span {
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
  color: #4353ff;
}
.banner .text .text-content .link-content {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  align-items: center;
  justify-content: center;
}
.banner .text .text-content .link-content .link-text {
  font-family: "neue_montrealregular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
}
.banner .text .text-content .link-content .link-container {
  margin-block: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.banner .text .text-content .link-content .link-container .link {
  padding: 1rem 2.2rem;
  border-radius: 999px;
  border: solid 1px #4353ff;
  font-family: "neue_montrealregular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: #f7f3f2;
  background: transparent;
  transition: all 0.3s;
}
.banner .text .text-content .link-content .link-container .link:hover {
  transition: all 0.3s;
  background: #4353ff;
}
.banner .link-section {
  margin-left: auto;
  padding: 1.2rem 2.4rem;
  background: #4353ff;
  width: 60%;
  display: flex;
  align-items: center;
  -moz-column-gap: 1.2rem;
       column-gap: 1.2rem;
  font-family: "neue_montrealregular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  margin-top: auto;
  margin-bottom: 3.2rem;
  overflow: hidden;
}
.banner .link-section p {
  height: inherit;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  font-family: inherit;
  font-size: inherit;
}

.slideshow-container {
  padding-block: 3.2rem;
  width: 100%;
  overflow-x: hidden;
}
.slideshow-container .slideshow {
  width: auto;
  background: #f7f3f2;
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding-block: 3.2rem;
  height: auto;
}
.slideshow-container .slideshow .text {
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  color: #232323;
  width: 50vw;
  flex-shrink: 0;
  text-transform: uppercase;
}

.resume {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}
.resume .title {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.2rem;
  color: #f7f3f2;
  font-style: italic;
  margin-left: 6.4rem;
  width: 100%;
  padding-bottom: 2.4rem;
  border-bottom: solid 1px #f7f3f2;
}
.resume .exp-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3.2rem;
  padding-left: 6.4rem;
}
.resume .exp-container .exp {
  margin-top: 3.2rem;
  position: relative;
  height: 18.4rem;
}
.resume .exp-container .exp:nth-child(2) .content {
  margin-left: 12.8rem;
}
.resume .exp-container .exp:nth-child(3) .content {
  margin-left: 19.2rem;
}
.resume .exp-container .exp .content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 45%;
  position: absolute;
}
.resume .exp-container .exp .content .year {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}
.resume .exp-container .exp .content .position {
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-style: italic;
}
.resume .exp-container .exp .content .company {
  font-family: "neue_montrealregular", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}
.resume .exp-container .exp .content .jobdesc {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
}
.resume .exp-container .exp .overlay {
  width: 100%;
  height: 100%;
  background: #f7f3f2;
  position: absolute;
  transform-origin: right;
}

.horizontal {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
  padding-top: 3.2rem;
}
.horizontal .title {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3.2rem;
  color: #f7f3f2;
  font-style: italic;
  margin-left: 6.4rem;
  width: 100%;
  padding-bottom: 2.4rem;
  border-bottom: solid 1px #f7f3f2;
}

.project-container {
  height: 100vh;
  display: flex;
  margin-top: 4.8rem;
}
.project-container .project {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  padding: 1.2rem 6.4rem;
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  position: relative;
  overflow: hidden;
}
.project-container .project .project-thumb {
  width: 80%;
}
.project-container .project .project-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.project-container .project .project-content {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 2rem;
  padding-block: 3.2rem;
  padding-left: 2.4rem;
  border-left: solid 3px #4353ff;
}
.project-container .project .project-content .client {
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  color: #4353ff;
  text-transform: uppercase;
  margin-bottom: auto;
}
.project-container .project .project-content .type,
.project-container .project .project-content .tech {
  font-family: "neue_montreallight", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  color: #f7f3f2;
}
.project-container .project .project-content .type span,
.project-container .project .project-content .tech span {
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f7f3f2;
  font-style: italic;
  font-size: 2.4rem;
}
.project-container .project .project-content .tech {
  margin-bottom: 6.4rem;
}
.project-container .project .project-content .link-live {
  width: 100%;
  margin-bottom: 4.8rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "neue_montrealbold", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #f7f3f2;
  font-size: 1.6rem;
  background: #4353ff;
  border-radius: 999px;
}/*# sourceMappingURL=style.css.map */